<div class="summary">
    <article>
      <span>Valoare portofoliu</span
      ><strong>{{ total() | number: '1.2-2' }} {{ currency() }}</strong
      ><small>cotații simulate + BCE</small>
    </article>
    <article>
      <span>Investit inițial</span
      ><strong>{{ invested() | number: '1.2-2' }} {{ currency() }}</strong>
    </article>
    <article>
      <span>Profit / pierdere</span
      ><strong [class.positive]="profit() >= 0" [class.negative]="profit() < 0"
        >{{ profit() | number: '1.2-2' }} {{ currency() }}</strong
      ><small>{{ percent() | number: '1.2-2' }}%</small>
    </article>
  </div>